section {
    padding: 10px 50px;
    width: calc(100% - 100px);
    position: fixed;
    display: flex;
    bottom: 50px;
}

section nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
}