section {
    position: fixed;
    display: flex;
    bottom: 50px;
}

section nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

i {
    font-size: 2rem;
}

img {
    color: white;
    width: 32px;
    height: 32px;
}