<section>
  <nav class="rounded-shadow-div">
   <a href="https://www.linkedin.com/in/fernandohrocha/" target="_blank" class="hover-info" data-hover-info="LinkedIn" data-hover-action="Acessar">
     <i class="devicon-linkedin-plain"></i>
   </a>
   <a href="https://github.com/FernandoHRocha" target="_blank" title="Git Hub" class="hover-info" data-hover-info="GitHub" data-hover-action="Acessar">
     <i class="devicon-github-original"></i>
   </a>
   <a (click)="print()" class="hover-info" data-hover-info="Currículo" data-hover-action="Imprimir">
     <img src="/assets/icon/document.svg" alt="Ícone de Documento">
   </a>
  </nav>
</section>