<section class="hero">
    <div class="hero-image">
      <img src="/assets/img/hero/design.jpg">
    </div>
    <div class="hero-description">
      <h1 class="text-left">Interfaces</h1>
      <p>
        A porta de entrada para o sucesso de todo sistema web, proporcionando ao usuário uma experiência fluida,
        agradável e intuitiva é crucial para transmitir a credibilidade e confiabilidade da sua marca, garantindo
        a fidelidade do cliente e o aumento das conversões.
      </p>
    </div>
</section>