h1 {
    font-size: 3rem;
    letter-spacing: 0.7rem;
}
h2 {
    margin: 0 20px 0 0;
    font-weight: 300;
    letter-spacing: 0.5rem;
}
h3 {
    font-size: 1.6rem;
    margin-bottom: 5mm;
    letter-spacing: 0.3rem;
}
h4 {
    font-size: 1.2rem;
}

main {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
    display: grid;
    grid-template-columns: 1fr 2fr;
    print-color-adjust: exact !important;
}

/* vv COLUNA ESQUERDA vv */

main .contact {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 22mm 0;
    box-sizing: border-box;
}

.contact .name {
    text-transform: uppercase;
    transform: rotate(180deg);
    writing-mode: tb;
    text-align: end;
}

.contact .contact-card {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 30px;
}

/* ^^ COLUNA ESQUERDA ^^ */
/* vv COLUNA DIREITA vv */

main .description * {
    color: black;
}

main .description {
    height: 100%;
    width: 100%;
    padding: 22mm 10mm;
    box-sizing: border-box;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
}

.description h3 {
    margin-bottom: 3mm;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.description > div {
    margin-bottom: 10mm;
}
.description > div:last-child {
    margin-bottom: 0;
}

.description p {
    font-size: 1.1rem;
    text-align: justify;
}

.description .about p {
    line-height: 1.3rem;
}

.description .education div:not(:last-child), .description .experience div:not(:last-child) {
    margin-bottom: 3mm;
}

.description .skills ul {
    list-style: none;
    padding-inline-start: 0;
    text-align: center;
    text-transform: uppercase;
}

.description .skills li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 1mm;
    align-items:center;
}

.description .skills .bar-graph {
    flex: 1;
    border: solid 1px black;
    height: 4mm;
    border-radius: 10px;
}

.description .skills .bar-fill {
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

/* ^^ COLUNA DIREITA ^^ */