<section class="hero">
    <div class="hero-image">
      <img src="/assets/img/hero/hd.jpg">
    </div>
    <div class="hero-description">
      <h1 class="text-left">Armazenamento</h1>
      <p>
        A integridade dos dados de todos sistema depende de um armazenamento eficiente e organizado,
        que possibilite consultas performáticas e conte sempre com a confiabilidade de padrões modernos em segurança.
        Gerenciamento de usuários, registro de transações, e muito mais...
      </p>
    </div>
</section>