<section>
  <article>
    <div>
      <h3>Contato</h3>
      <span>
        Será um prazer encontrar o seu contato em minha caixa de entrada.
      </span>
    </div>
    <div>
      <h4>Endereço</h4>
      <span>Guarapuava - Paraná - BR</span>
    </div>
    <div>
      <h4>Telefone</h4>
      <a target="_blank" href="https://whatsa.me/5542991446487/?t=Ol%C3%A1%20Nando,%20encontrei%20seu%20curr%C3%ADculo%20interessante%20e%20gostaria%20de%20conversar%20contigo.">{{CONTACT_PHONE}}</a>
    </div>
    <div>
      <h4>E-mail</h4>
      <a target="_blank" href="mailto:{{CONTACT_EMAIL}}">{{CONTACT_EMAIL}}</a>
    </div>
  </article>
  <form class="shadow-bl" [formGroup]="groupForm">
    <h3>Fale comigo</h3>
    <mat-form-field>
      <mat-label>Email para contato</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assunto</mat-label>
      <textarea matInput formControlName="_subject"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mensagem</mat-label>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>
    <button
    class="shadow-br {{groupForm.status == 'INVALID' ? '' : 'pointer'}}"
    [disabled]="groupForm.status == 'INVALID'"
    (click)="onSubmit()"
    [title]="groupForm.status == 'INVALID' ? 'Preencha os campos acima' : 'Enviar e-mail'">
      Enviar Mensagem
    </button>
  </form>
</section>