html, body {
    height: 100%;
}

* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.mat-form-field-underline {
    background-color: white !important;
}

.shadow-br {
    box-shadow: #0c0d0e 6px 6px 10px 3px;
}

.shadow-bl {
    box-shadow: #0c0d0e -6px 6px 10px 3px;
}