<div id="background" class="no-print">
  <header>
    <header-app></header-app>
  </header>
  <main>
    <panels-intro-app></panels-intro-app>
    <div id="hero-sections">
      <h2>Serviços com qualidade de quem tem experiência</h2>
      <database-hero-app></database-hero-app>
      <backend-hero-app></backend-hero-app>
      <frontend-hero-app></frontend-hero-app>
    </div>
    <panels-project-app></panels-project-app>
    <contact-app></contact-app>
  </main>
  <nav>
    <side-app></side-app>
  </nav>
</div>
<div id="curriculum" class="print">
  <app-curriculum></app-curriculum>
</div>
<div id="notification">
  <span id="notification_message"></span>
</div>